.page-container {
  border-width: 80%;
  height: auto;
  position: absolute;
  border: 60px solid pink;
  margin-left: 15%;
  margin-right: 15%;
  margin: pink;
  background-color: white;
}

.theme {
  text-align: left;
  font-family: Helvetica;
  font-weight: lighter;
  background-color: pink;
}

.center {
  text-align: center;
}

.line {
  padding: .5%;
  border: solid pink;
  background-color: pink;
  border-width: 10%;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: border-box;
  margin: 0% ;
  display: block;
}


.line2 {
  padding: .5%;
  border: solid cadetblue;
  background-color: cadetblue;
  border-width: 10%;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: border-box;
  margin: 0% ;
  display: block;
}

.columns {
  display: inline-block;
  padding: 3%;
  width: 85.5%;
  color: rgb(50, 49, 49);
}

.img {
  padding: 5px;
  width: 52.5%;
  height: auto;
  margin: auto;
  display: block;
  float: right;
}

.columns p {
  color: slategray;
  font-weight: lighter;
}

.span {
  color: cadetblue;
  font-weight: bold;
}